
header {
  height: 50px ;
  font-family: fantasy;
  width: 100%;
}

.header-logo {
  float: left;
  padding: 15px;
}

.header-list {

}

.header-list ul li {

  color: white;
  background-color: #2d2d2d;
  float: left;
  list-style: none;
  text-align: center;
  margin: auto;

}

.img {
  position: relative;
  background-image: url("https://postfiles.pstatic.net/20160604_95/mhjeong0924_1464975506507Of6dV_JPEG/1464475257431.jpg?type=w2");
  height:100vh;
  background-color:rgba(255, 255, 255, );
}


.copy-container   {
     position: absolute;
     top:50%;
     left:50%;
     transform: translate(-50%, -50%);
     font-size:5rem;
     color: white;
     z-index: 2;
     text-align: center;

}



























/*------------------------header---------------------------------------------*/

































/*-----------------------main---------------------------------------------*/
